POSTGRES_DB=homepage
POSTGRES_USER=homepage
POSTGRES_PASSWORD=changeme
ADMIN_USERNAME=admin
ADMIN_PASSWORD=changeme
MAE_PASSWORD=changeme
MAE_TITLE=In memory of <name>
GALLERY_ROOT_DIR=/app/gallery
WEBDAV_DROP_USERNAME=mae-drop
WEBDAV_DROP_PASSWORD=changeme
