davidneto.eu, www.davidneto.eu {
    reverse_proxy app:8080
}

cloud.davidneto.eu {
    reverse_proxy webdav:80 {
        header_up X-Forwarded-Proto {scheme}
        header_up X-Forwarded-Host {host}
    }
    header Location http://cloud.davidneto.eu https://cloud.davidneto.eu
}